<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.applicationprova">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApplicationProva">
        <activity android:name=".view.ListOfProductCategory"></activity>
        <activity android:name=".view.Saldo"
            android:parentActivityName=".view.ListOfProducts"/>
        <activity android:name=".model.Statistic"
            android:parentActivityName=".view.ListOfProducts"/>
        <activity android:name=".view.ListOfProductsBought"
            android:parentActivityName=".view.ListOfShop"/>
        <activity android:name=".authentication.MyAccount"
            android:parentActivityName=".view.ListOfGroups"/>
        <activity android:name=".view.ListOfShop"
            android:parentActivityName=".view.ListOfProducts"/>
        <activity android:name=".view.SettingsGroup"
            android:parentActivityName=".view.ListOfProducts"/>
        <activity android:name=".controller.EditProduct"
            android:parentActivityName=".view.ListOfProducts"/>
        <activity android:name=".view.ListOfProducts" />
        <activity android:name=".view.ListOfGroups" />
        <activity android:name=".controller.Newgroup"
            android:parentActivityName=".view.ListOfGroups"/>
        <activity android:name=".controller.InserisciProdotto"
            android:parentActivityName=".view.ListOfProducts"/>
        <activity android:name=".authentication.LoginActivity" />
        <activity android:name=".authentication.RegistrerActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>